{% set COLTEMPLATE  = "%-15s| %-15s| %-15s| %-15s| %-20s| %-10s| %-15s| %-15s" %}
{% set ROWDELIM     = "%-15s+%-15s+%-15s+%-15s+%-20s+%-10s+%-15s+%-15s"
                | format("-"*15,"-"*16,"-"*16,"-"*16,"-"*21,"-"*11,"-"*16,"-"*16) %}
{% set THEAD = COLTEMPLATE
                | format("Consumer","IP Address","Provider","IP Address",
                         "Service", "SRTT", "App Latency", "Network Latency") %}

FLOWS BETWEEN: {{ timestamp_from }} - {{ timestamp_to }}

{{ THEAD }}
{{ ROWDELIM }}
{% for flow in server_flows.json.results %}
{{ COLTEMPLATE | format (flow.src_hostname, flow.src_address, flow.dst_hostname,
                         flow.dst_address, flow.proto + flow.dst_port,
                         flow.srtt_usec, flow.server_app_latency_usec,
                         flow.total_network_latency_usec) }}
{{ ROWDELIM }}
{% endfor %}
